/*Created by Ashwini 3/4/2018*/
ul >li{
    font-size: 20px;
}

body{
    font-style: normal;
    font-family: Cambria;
    color:#fdb642;
    line-height: 1.5;
    word-spacing: 3px;
    letter-spacing: 1px;
}
.page-header{
    border-bottom: 5px solid #fdb642;
}
#about{
    border-top: 5px solid #1f76bd;
}
.bg-grey{
    padding: 50px 50px;
    background-color: black;
}
.page-header{
    margin-top: 60px;
}
#myCarousel{
    border-bottom: 5px solid #1f76bd;
}
.carousel-inner>.item>img{
    height: 80vh;
    width: 100%;
}
.panel-body p{
    text-indent: 20px;
}
p{
    color: #1f76bd;
    font-size: 18px;
}

h2, h3{
    color: #1f76bd;
}

h3{
    padding: 30px;
}
.snf_logo{
    margin: auto;
}
.navbar-default{
    background-color: #fdb642;
    #border-top: 5px solid #1f76bd;
    border-bottom: 5px solid #1f76bd;
}
.navbar-nav>li{
    font-weight: bolder;
}
.navbar-default .navbar-nav>li>a{
    color: #1f76bd;
}

.panel-default>.panel-heading{
    background-color: #fdb642;
    color: #1f76bd;
    font-weight: bolder;
    font-size: 20px;
}

.success_div{
    padding: 30px;
}

/*footer style--------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------*/
.social_media{
    width: 25px;
    height: 25px;
}

.glyphicon{
    font-size: 30px;
}
.footer{
    padding: 30px;
}

/* what we do page style-------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------*/
.ongoing_project{
    border-top: 15px solid #1f76bd;
}

.project_ul li>a{
    font-weight: bold;
}
.nav-tabs>li.active>a{
    #border: none;
}


/*---------------------------------------------------------our_work page style-----------------------------------------------------------
------------------------------------------------------ */
#our_work{
    margin: 50px;
}
._info_side{
    height: 47vh;
    padding: 0 2vh 2vh;
}
h2{
    #text-decoration: underline;
    color: #fdb642;
    margin: 0 0 40px 0;
}
.nav-side>li>a:focus, .nav>li>a:hover,.current_tab{
    background-color: #fdb642;
    font-weight: bold;
    font-size: 20px;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail>img{
    width: 400px;
    height: 400px;
    border: 1px solid #fdb642;

}

.water_project,.education_project,.orphanage_project,
.health_project,.sport_project,.shahid_javan_project,.environmental_project{
    display: none;
}